@import "vars";

.overlay {
  display: none;

  &--on {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: transparent;
    backdrop-filter: blur(3rem);

  }
}