@import "vars";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus{
  outline: 2px solid transparent;
}

body {
  min-width: 320px;
  overflow-anchor: none;
  margin: 0;
  font-family: 'TTLakes', sans-serif;
  color: $text-black-color;
  background-color: $white;
  scroll-behavior: smooth;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title, .text {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  object-fit: cover;
}

form {
  border: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

/*Меняем цвет плейсхолдера в инпуте Сафари и Хром*/
/*Меняем цвет плейсхолдера в инпуте для Мозилы */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $gray;
}

input:focus,
textarea:focus {
  outline:none;
}

.is--hidden {
  display: none !important;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none;
}

.error {
  border: 2px var(--error-red) solid !important;
}

.main-container {
  max-width: 1120px;
  margin: 0 auto;

  @media (min-width: 1120px) {
    max-width: 1120px;
  }

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
  }
}

.general {
  max-width: 1120px;
}
