.swiper {
  &-container {
    position: relative;
  }
  &-pagination {
    position: absolute;
    top: 104px;
    left: 58px;

    &-bullet {
      width: 12px;
      height: 12px;
      background-color: #7E7E82;
    }

    &-bullet:not(:last-child) {
      margin-right: 12px;
    }
  }
}