@import "vars";

.types-repair {
  overflow-x: hidden;

  &__list {
    @include flex-items;
    padding: 16px 16px 52px 16px;

    &--hidden {
      @media (min-width: 768px) {
        overflow-y: hidden;
        height: 184px;
      }
    }

    @media (min-width: 768px) {
      @include grid-items;
      grid-template-columns: 224px 224px 224px;
      row-gap: 24px;
      column-gap: 24px;
      margin-bottom: 24px;
    }

    @media (min-width: 1120px) {
      grid-template-columns: 240px 240px 240px 240px;
      column-gap: 32px;
      padding: 24px 32px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 16px;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 160px;
    padding: 16px;

    background-color: $white;
    border: 1px solid $items-border-grey-color;
    border-radius: 6px;
    
    @media (min-width: 768px) {
      width: 224px;
    }

    @media (min-width: 1120px) {
      width: 240px;
    }
  }

  &__svg {
    margin-left: auto;
  }

  &__btn {
    @include more-btn;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.2px;
  }
}