@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "header";
@import "header-nav";
@import "main-nav";
@import "main-content";
@import "main-container-title";
@import "brand-repair";
@import "types-repair";
@import "prices";
@import "footer";
@import "overlay";
@import "menu";
@import "modal";
@import "swiper";
@import "js-styles";

